<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>About</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-title">
            <h2 class="title">COVID TRACKING</h2>
        </div>  
        <div class="navbar-menu" id="topNav">
            <ul class="list" id="active">
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="about">What is COVID-19</a></li>
                <li class="item"><a href="prevention">Prevention</a></li>
                <li class="item"><a href="contact-me">Contact</a></li>
            </ul>
        </div>
    </div>
    <main>
        <p class="main-content">
            COVID Tracker is a project based on data taken from disease.sh that includes information about the worldwide COVID-19 epidemic <br>
            It acts as a portal for the public to keep track of the latest news development about the COVID-19, alongside collecting data for further analysis. All the contents are handpicked, filtered, and curated by volunteers to our best extent to ensure that sources are reliable with minimal hoaxes and fake news, in the best benefit of the public. <br>
            We aim to use technology and make information more accessible, gather talented people all around the world to win the fight!
        </p>
        <footer class="description">
            <p>Copyright by g0su12 <a style="color: green;" href="https://github.com/g0su12">Github</a></p>
        </footer>
    </main>
</body>
</html>