<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>COVID TRACKING</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-title">
            <h2 class="title">COVID TRACKING</h2>
        </div>  
        <div class="navbar-menu" id="topNav">
            <ul class="list" id="active">
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="about">What is COVID-19</a></li>
                <li class="item"><a href="prevention">Prevention</a></li>
                <li class="item"><a href="contact-me">Contact</a></li>
            </ul>
        </div>
    </div>
    <main>
        <p class="main-content">
            Contact tracing is the process of identifying, assessing, and managing people who have been exposed to someone who has been infected with the COVID-19 virus. Contact tracing and quarantine of contacts identified through contact tracing interrupt transmission between people and are essential public health tools for controlling the virus. Contact tracing can also help people who are at a higher risk of developing severe disease know earlier that they have been exposed so that they can  get medical care quicker if they go on to develop symptoms. 
        </p>
        <footer class="description">
            <p>Copyright by g0su12 <a style="color: green;" href="https://github.com/g0su12">Github</a></p>
        </footer>
    </main>
</body>
</html>