<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Prevention</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-title">
            <h2 class="title">COVID TRACKING</h2>
        </div>  
        <div class="navbar-menu" id="topNav">
            <ul class="list" id="active">
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="about">What is COVID-19</a></li>
                <li class="item"><a href="prevention">Prevention</a></li>
                <li class="item"><a href="contact-me">Contact</a></li>
            </ul>
        </div>
    </div>
    <main>
        <p class="main-content">
            Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus. <br>
            Most people infected with the virus will experience mild to moderate respiratory illness and recover without requiring special treatment. However, some will become seriously ill and require medical attention. Older people and those with underlying medical conditions like cardiovascular disease, diabetes, chronic respiratory disease, or cancer are more likely to develop serious illness. Anyone can get sick with COVID-19 and become seriously ill or die at any age. <br>
            The best way to prevent and slow down transmission is to be well informed about the disease and how the virus spreads. Protect yourself and others from infection by staying at least 1 metre apart from others, wearing a properly fitted mask, and washing your hands or using an alcohol-based rub frequently. Get vaccinated when it's your turn and follow local guidance.
        </p>
        <footer class="description">
            <p>Copyright by g0su12 <a style="color: green;" href="https://github.com/g0su12">Github</a></p>
        </footer>
    </main>
</body>
</html>